body {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
}

table {
    margin: auto;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

.form {
    margin: 20px auto;
}
